In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

dataset = pd.read_csv("vehicle.csv")
dataset
# print(dataset)

# vehicles=dataset["vehicleClass"]
# year2020=dataset["2020"]
# year2019=dataset["2019"]
# year2018=dataset["2018"]
# year2017=dataset["2017"]
# year2016=dataset["2016"]
# year2015=dataset["2015"]
# year2014=dataset["2014"]
# year2013=dataset["2013"]
# year2012=dataset["2012"]
# year2011=dataset["2011"]

# x=np.arange(len(year2020))
# x2=x
# w=0.4
# plt.bar(x,year2020,width=w)
# x=x+w
# plt.bar(x,year2019,width=w)
# x=x+w
# plt.bar(x,year2018,width=w)
# x=x+w
# plt.bar(x,year2017,width=w)
# x=x+w
# plt.bar(x,year2016,width=w)
# x=x+w
# plt.bar(x,year2015,width=w)
# x=x+w
# plt.bar(x,year2014,width=w)
# x=x+w
# plt.bar(x,year2013,width=w)
# x=x+w
# plt.bar(x,year2012,width=w)
# x=x+w
# plt.bar(x,year2011,width=w)
# plt.xticks(x2+(w+(w/2)), vehicles)

,vehicleClass,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,Unnamed: 11,Unnamed: 12
0,Motor cars,5167,5972,5690,6255,6825,9526,10107,10058,11386,12095,NaN,NaN
1,Dual-purpose vehicles,714,674,803,936,1013,1154,1077,1074,1161,2107,NaN,NaN
2,Light Omnibus,1289,2100,2241,2382,2607,3942,3833,3259,3591,4480,NaN,NaN
3,Medium Omnibus,141,189,217,182,225,305,255,296,402,318,NaN,NaN
4,Heavy Omnibus,177,221,245,281,342,331,384,392,465,664,NaN,NaN
5,Light goods vehicles,1412,1359,1307,1323,1470,1580,1619,1598,1809,2262,NaN,NaN
6,Medium goods vehicles,972,912,947,960,1075,1351,1259,1014,1187,1468,NaN,NaN
7,Heavy goods vehicles,508,505,224,395,481,594,606,500,456,608,NaN,NaN
8,Trailers and Semi-Trailers,607,494,610,472,485,626,686,606,510,752,NaN,NaN
9,Fuel Truck,92,123,90,93,150,151,124,224,327,149,NaN,NaN
10,Engineering plant,31,28,49,33,47,87,36,57,58,115,NaN,NaN
11,Tractors,49,58,89,62,93,70,69,127,111,209,NaN,NaN
12,Motor cycles,6305,5889,5503,6310,6537,8091,8038,7450,8073,8743,NaN,NaN
13,Pedal cycles,479,394,462,511,615,841,1051,953,1140,1561,NaN,NaN
14,Pedestrian Controlled Vehicles,49,60,49,36,20,44,30,40,29,185,NaN,NaN

In [7]:
dataset.drop(columns=["Unnamed: 11", "Unnamed: 12"], inplace=True, axis=1)
dataset

,vehicleClass,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,Motor cars,5167,5972,5690,6255,6825,9526,10107,10058,11386,12095
1,Dual-purpose vehicles,714,674,803,936,1013,1154,1077,1074,1161,2107
2,Light Omnibus,1289,2100,2241,2382,2607,3942,3833,3259,3591,4480
3,Medium Omnibus,141,189,217,182,225,305,255,296,402,318
4,Heavy Omnibus,177,221,245,281,342,331,384,392,465,664
5,Light goods vehicles,1412,1359,1307,1323,1470,1580,1619,1598,1809,2262
6,Medium goods vehicles,972,912,947,960,1075,1351,1259,1014,1187,1468
7,Heavy goods vehicles,508,505,224,395,481,594,606,500,456,608
8,Trailers and Semi-Trailers,607,494,610,472,485,626,686,606,510,752
9,Fuel Truck,92,123,90,93,150,151,124,224,327,149
10,Engineering plant,31,28,49,33,47,87,36,57,58,115
11,Tractors,49,58,89,62,93,70,69,127,111,209
12,Motor cycles,6305,5889,5503,6310,6537,8091,8038,7450,8073,8743
13,Pedal cycles,479,394,462,511,615,841,1051,953,1140,1561
14,Pedestrian Controlled Vehicles,49,60,49,36,20,44,30,40,29,185

In [24]:
dataset.set_index("vehicleClass", inplace=True)
dataset

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
vehicleClass,,,,,,,,,,
Motor cars,5167,5972,5690,6255,6825,9526,10107,10058,11386,12095
Dual-purpose vehicles,714,674,803,936,1013,1154,1077,1074,1161,2107
Light Omnibus,1289,2100,2241,2382,2607,3942,3833,3259,3591,4480
Medium Omnibus,141,189,217,182,225,305,255,296,402,318
Heavy Omnibus,177,221,245,281,342,331,384,392,465,664
Light goods vehicles,1412,1359,1307,1323,1470,1580,1619,1598,1809,2262
Medium goods vehicles,972,912,947,960,1075,1351,1259,1014,1187,1468
Heavy goods vehicles,508,505,224,395,481,594,606,500,456,608
Trailers and Semi-Trailers,607,494,610,472,485,626,686,606,510,752
Fuel Truck,92,123,90,93,150,151,124,224,327,149
Engineering plant,31,28,49,33,47,87,36,57,58,115
Tractors,49,58,89,62,93,70,69,127,111,209
Motor cycles,6305,5889,5503,6310,6537,8091,8038,7450,8073,8743
Pedal cycles,479,394,462,511,615,841,1051,953,1140,1561
Pedestrian Controlled Vehicles,49,60,49,36,20,44,30,40,29,185

In [25]:
dataset.describe()

,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,1199.466667,1265.200000,1235.066667,1348.733333,1465.666667,1912.866667,1944.933333,1843.200000,2047.000000,2381.066667
std,1906.780116,1975.542898,1867.272054,2098.362336,2224.468048,2978.584752,3073.559069,2962.857048,3307.510523,3520.304927
min,31.000000,28.000000,49.000000,33.000000,20.000000,44.000000,30.000000,40.000000,29.000000,115.000000
25%,116.500000,156.000000,153.500000,137.500000,187.500000,228.000000,189.500000,260.000000,364.500000,263.500000
50%,508.000000,494.000000,462.000000,472.000000,485.000000,626.000000,686.000000,606.000000,510.000000,752.000000
75%,1130.500000,1135.500000,1127.000000,1141.500000,1272.500000,1465.500000,1439.000000,1336.000000,1498.000000,2184.500000
max,6305.000000,5972.000000,5690.000000,6310.000000,6825.000000,9526.000000,10107.000000,10058.000000,11386.000000,12095.000000

In [26]:
dataset.columns

Index(['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012',
       '2011'],
      dtype='object')

In [27]:

dataset.corr().style.background_gradient(cmap='coolwarm')